* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.clearfix::after {
	content:"";
	display:block;
	clear:both;
}

@media screen and (min-width:769px){

main{
	width:960px;
	margin:50px auto;
}
.box{
	float:left;
	width:300px;
}

.box:nth-child(2){
	margin:0 30px;
}

.box-content{
	height:150px;
	width:280px;
	background-size:cover;
	background-position:bottom;
	margin:10px;
}

}

@media screen and (max-width:768px){

.box{
	margin:50px auto;
	width:90%;
}

}

.box-content{
	height:150px;
	background-size:cover;
	background-position:50% 50%;
	margin:10px;
}

}


main{
  	margin:50px auto;

}

.box{
	position:relative;
	border:1px solid gray;
}




.first{
	background-image: url(img/flow01.png)

}

 .second{
	background-image: url(img/flow02.png);
}

.third{
	background-image: url(img/flow03.png);
}


.sub-tytle{
	color:white;
	background-color:orange;
	position: absolute;
	top:0;
	left:0;
}

